@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap");
*, *::after, *::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
}

.main_container {
  perspective: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 50px;
  width: 250px;
  height: 250px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  overflow: visible;
}

.firstCube {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(-40deg) rotateY(40deg);
  transform-origin: center center;
  transform-style: preserve-3d;
  height: 20px;
  width: 226px;
}
.firstCube .side1 {
  transform-style: preserve-3d;
  position: absolute;
}
.firstCube .fc_top {
  height: 226px;
  width: 226px;
  background-color: #EE842C;
  transform: rotateX(90deg) translateZ(113px);
}
.firstCube .fc_left {
  height: 20px;
  width: 226px;
  background-color: #A75511;
  transform: rotateY(-90deg) translateZ(113px);
}
.firstCube .fc_front {
  height: 20px;
  width: 226px;
  background-color: #A75511;
  transform: translateZ(113px);
}
.firstCube .fc_bottom {
  margin-top: 20px;
  height: 226px;
  width: 226px;
  background-color: #A75511;
  transform: rotateX(90deg) translateZ(113px);
}

.secondCube {
  margin-top: -15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(-40deg) rotateY(40deg) scale3d(1.75, 1.75, 1.75);
  transform-origin: center center;
  transform-style: preserve-3d;
  height: 20px;
  width: 226px;
}
.secondCube .side2 {
  transform-style: preserve-3d;
  position: absolute;
  left: 25%;
}
.secondCube .sc_top {
  height: 113px;
  width: 113px;
  background-color: #011B24;
  transform: rotateX(90deg) translateZ(56.5px);
}
.secondCube .sc_left {
  height: 10px;
  width: 113px;
  background-color: #011B24;
  transform: rotateY(-90deg) translateZ(56.5px);
}
.secondCube .sc_front {
  height: 10px;
  width: 113px;
  background-color: #011B24;
  transform: translateZ(56.5px);
}
.secondCube .sc_bottom {
  margin-top: 10px;
  height: 113px;
  width: 113px;
  background-color: #011B24;
  transform: rotateX(90deg) translateZ(56.5px);
}

/* --Common Text Styles */
.textContainer {
  top: 50%;
  left: 50%;
  z-index: 999;
  position: absolute;
  height: 240px;
  width: 240px;
  transform: translate(-50%, -50%);
  border: 1px solid red;
}
.textContainer h1 {
  opacity: 0;
  position: absolute;
  font-size: 115px;
  height: 100px;
  width: 100px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  border: 1px solid green;
}
.textContainer h1.textMain {
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  transform: translate(-65%, -100%);
}
.textContainer h1.textSecond {
  top: 50%;
  left: 50%;
  text-transform: lowercase;
  transform: translate(0%, -125%);
}

/* Z-Text */
.z-text {
  /* Tip: Apply CSS transforms here */
  /* rotateX() == up/down */
  /* rotateY() == left/right */
  transform: rotateX(40deg) rotateY(12deg) rotateZ(-25deg);
}

/* Individual text */
/* -- AI -- */
.ai {
  opacity: 1 !important;
  color: #EE842C;
}
.ai .z-layer:not(:first-child) {
  color: #A75511;
}

/* -- PR -- */
.ai {
  opacity: 1 !important;
  color: #EE842C;
}
.ai .z-layer:not(:first-child) {
  color: #A75511;
}

/* -- PS -- */
.ai {
  opacity: 1 !important;
  color: #EE842C;
}
.ai .z-layer:not(:first-child) {
  color: #A75511;
}

/* -- AE -- */
.ai {
  opacity: 1 !important;
  color: #EE842C;
}
.ai .z-layer:not(:first-child) {
  color: #A75511;
}
/*# sourceMappingURL=index.css.map */
