doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title miniWeb_two
        link(rel="stylesheet", href="./css/index.css")
    body 
        //- .main_container 
        //-     .sub_container
        //-         .box.lower 
        //-             .side_left
        //-             .side_bottom
        .container 
            .box_con
                .box.top 
                .box.bottom
                .box.left
                .box.right
                .box.front
                .box.back
            .box_con2
                .box2.top2
                .box2.bottom2
                .box2.left2 
                .box2.right2
                .box2.front2
                .box2.back2
